.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: 100vh;

  .sidebar-container {
    background-color: #f8f9fa;
    padding: 20px;
  }

  .content-container {
    padding: 20px;
    overflow-y: auto;
  }
}