.custom-dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  background-color: #f8f9fa;

  &__sidebar {
    background-color: #2e3138;
  }

  &__content {
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(50, 44, 44, 0.1);
  }
}