.custom-sidebar {
  width: 250px;
  background-color: #2e3138;
  color: #fff;
  padding: 20px;

  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__menu {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    padding: 15px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, padding-left 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      background-color: #041a43;
      padding-left: 25px;

      &::before {
        opacity: 1;
      }
    }

    &--active {
      background-color: #2e3650;
      padding-left: 25px;
      font-weight: bold;
      color: #00ff79;

      &::before {
        opacity: 1;
      }
    }
  }

  &__text {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;

    .custom-sidebar__item:hover &,
    .custom-sidebar__item--active & {
      transform: translateX(10px);
    }
  }
}