@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-slider {
  font-family: 'Roboto', sans-serif;

  .slider-item {
    .col-md-3 {
      text-align: center;
      width: 90%;
      max-width: 100%;
      flex: 0 0 100%;
      max-height: 100%;
    }
  }

  .slider-title {
    margin-top: 5%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #321313;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .slick-prev,
  .slick-next {
    &:before {
      color: rgba(39, 10, 10, 0.1);
    }
  }

  .slick-dots {
    li {
      button:before {
        color: #270303;
      }
      &.slick-active button:before {
        color: #270303;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-slider {
    .slider-title {
      font-size: 2rem;
    }

    .slider-item {
      .col-md-3 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .product-slider {
    .slider-title {
      font-size: 1.5rem;
    }
  }
}